

.flex_start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.flex_end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.flex_center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex_arrow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.__App_tile_collection {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}
.allIcons {
	height: 100px;
	width: 100px;
	color: #5383BA;
}
body {
	margin: 0px;
	text-align: center !important;;
}

th {
    text-align: center !important;
}

thead {
	background-color: #5383BA !important;
}
